[submodule "vendor/assets/stylesheets/bulma-timeline"]
	path = vendor/assets/stylesheets/bulma-timeline
	url = git@github.com:Wikiki/bulma-timeline.git
[submodule "vendor/assets/stylesheets/bulma"]
	path = vendor/assets/stylesheets/bulma
	url = git@github.com:jgthms/bulma.git
