[submodule "vendor/assets/stylesheets/bulma-timeline"]
	path = vendor/assets/stylesheets/bulma-timeline
	url = https://github.com/Wikiki/bulma-timeline
[submodule "vendor/assets/stylesheets/bulma"]
	path = vendor/assets/stylesheets/bulma
	url = https://github.com/jgthms/bulma
