<p class="activity" data-date=date>
  <span class="<%= kind %>"></span>
    <i class="<%= icon_class %>"></i>
  <%= link_to name, url, rel: "noopener noreferrer", target: "_blank" %> <%= amount %>
</p>
