.timeline
  - activities_by_month_and_date.each do |month, dates|

    .header.timeline-header
      - formatted_month = month.strftime("%B")

      - if header?(month)
        span.header-marker.tag.is-medium.is-primary = formatted_month
      - else
        span.separator-marker.tag.is-primary = formatted_month

    - dates.each do |date, activities|
      / ID is used here to be scrollable as an anchor from the calendar
      .timeline-item id=date
        .timeline-marker.is-primary
        .timeline-content
          p.heading = date.strftime("%B %-d, %Y")
          = render ActivityComponent.with_collection(activities)

    - if footer?(month)
      header.timeline-header
        span.footer-marker.tag.is-medium.is-primary = formatted_month