<div class="aside menu years-menu">
  <ul class="menu-list">
    <% years.each do |year| %>
      <li class="has-text-centered">
        <%= link_for_year(year) %>
      </li>
    <% end %>
  </ul>
</div>
