.field.is-horizontal
  .field-label.is-normal.has-text-left
    label.label.has-text-weight-medium = t(".label")
  .field-body
    .field.has-addons
      .control.is-expanded.has-icons-left
        input.input.signature-input[readonly=true
                                    value='[URL="#{user_url(@user)}"][IMG]#{user_signature_url(@user)}[/IMG][/URL]']
          span.icon.is-small.is-left
            i.fas.fa-code
      .control.copy-signature
        button.button
          i.fas.fa-clipboard