<%# locals: (user:) -%>

<div class="columns is-centered">
  <div class="column has-text-centered">
    <article class="message is-info">
      <div class="message-header">
        <p><%= _("Please wait") %></p>
      </div>
      <div class="message-body">
        <p>
          <span><%= _("We are fetching your data from MyAnimeList and preparing it for you.") %></span>
          <br>
          <span><%= _("This page will be refreshed automatically!") %></span>
          <br>
        </p>
      </div>
    </article>
    <%= image_tag "loading.gif", style: "height: 200px", class: "mt-4" %>
  </div>
</div>
