<div class="column is-full has-text-centered about-section">
  <%= link_to "https://github.com/andersonkrs/malheatmap" do %>
    <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/andersonkrs/malheatmap?style=social">
  <% end %>
  <span class="mr-1 ml-1"><%= link_to _("About"), about_path %></span>
  <span> - </span>
  <span class="mr-1 ml-1"><%= link_to _("Faq"), faq_path %></span>
</div>

