<div class="column is-full has-text-centered">
  <%= link_to root_path do %>
    <span class="icon is-large">
      <i class="fas fa-4x fa-fire has-text-primary"></i>
    </span>
  <% end %>
  <h1 class="title has-text-centered">
    <%= link_to t("app.title"), root_path, class: "has-text-black-ter" %>
  </h1>
</div>
