<div class="columns is-full bordered has-text-centered" style="height: 200px !important;">
  <div style="width: 100%; height: 100%" class="is-flex full-width full-height is-flex-direction-row is-align-content-center is-align-items-center is-flex-wrap-wrap">
    <p style="flex: 1">
      <%= image_tag "loading_v2.gif", style: "height: 100px" %>
    </p>
  </div>
</div>
