<div class="columns is-centered">
  <div class="columm is-half">
    <h1 class="subtitle has-text-centered">Please wait...</h1>
  </div>
</div>
<div class="columns is-centered mt-5">
  <div class="column has-text-centered" >
    <%= image_pack_tag "media/images/loading.gif", class: "pr-4" %>
  </div>
</div>
