- section_size :medium

.is-align-self-center
  .columns.is-multiline.is-centered
    = render partial: "shared/header"

    .column.is-full
      .columns.form-container.is-multiline.is-centered
        .column.is-half-desktop
          = turbo_frame_tag dom_class(@subscription, "form") do
            = render partial: "form", locals: { subscription: @subscription }
