<% section_size :medium %>
<% content_for :meta do %>
  <meta name="tracker-source" value=""/>
<% end %>

<div class="is-align-self-center">
  <div class="columns is-multiline is-centered">
    <%= render partial: "shared/header" %>

    <div class="column is-full">
      <div class="columns form-container is-multiline is-centered">
        <div class="column is-half-desktop">
          <%= render partial: "form", locals: { subscription: @subscription } %>
        </div>
      </div>
    </div>
  </div>
</div>
