<div class="columns is-full has-text-centered mt-6 mb-6" style="height: auto">
  <div style="width: 100%; height: 100%; gap: 30px" class="is-flex full-width full-height is-flex-direction-column is-align-content-center is-align-items-center is-flex-wrap-wrap">
    <div style="flex: auto">
      <%= image_tag "images/ash_loading.gif", style: "height: 100px" %>
    </div>
  </div>
</div>
