$primary: #2f54eb;
$radius-rounded: 10px;
$title-size: 48px;
$title-weight: 400;

@import "~bulma/bulma";
@import "~bulma-timeline";
@import "@fortawesome/fontawesome-free";

html {
  scroll-behavior: smooth;
}

.bordered {
  border: 1px #e1e4e8 solid;
}

.notification.is-danger.is-light {
  background-color: #feecf0;
  color: #cc0f35;
}

.notification {
  padding: 1rem 2.25rem 1rem 1.25rem;
}

.notification button.delete {
  top: 1.2rem;
}

a.root-link {
  color: #363636
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
