$primary: #2f54eb;
$radius-rounded: 10px;
$title-size: 48px;
$title-weight: 400;

@import "~bulma/bulma";
@import "~bulma-timeline";

html {
  scroll-behavior: smooth;
}

.bordered {
  border: 1px #e1e4e8 solid;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
