- page_title "About"

.div
  .columns.is-centered
    = render partial: "shared/header"

  .columns.is-centered
    .column.is-half-desktop.mt-2
      h3.has-text-centered.subtitle = "About"
      p.mb-2
        |
          MAL Heatmap is a tool for tracking your anime/manga consumption based on your <a href='https://myanimelist.net'>myanimelist.net</a> history.
      p.mb-2
        |
          <a href='https://myanimelist.net'>MAL</a> just keep the last three weeks of your history, after this time, they'll delete it. When you subscribe your account, we'll save your history daily, so you can look back to all your activities.
      p.mb-2
        |
          We also generate an image of your activities calendar that you can embed into your <a href='https://myanimelist.net'>myanimelist.net</a> profile or forum signature extending your MAL experience.
      p
        |
          Inspirations:
          <br> - <a href='https://github.blog/2013-01-07-introducing-contributions/'>Github contirbutions calendar</a>
          <br> - <a href='https://anime.plus/'>anime.plus</a>
          <br> - <a href='https://malsignature.com/'>MAL Signature</a>

      h3.has-text-centered.subtitle.mt-5 = "Privacy"
      p = "We download and store publicly available data related to your myanimelist.net account, which are: profile information (username, avatar url) and the current history (episodes watched, chapters read, historic datetime, anime/manga name and url)."

      h3.has-text-centered.subtitle.mt-5 = "Contact and external links"
      p
        |
          Email: <a href='mailto:hello@malheatmap.com'>hello@malheatmap.com</a>
          <br>
          <a href='https://github.com/AndersonSKM/malheatmap'>Source Code</a>

      .has-text-centered.mt-3
        <a href="https://www.buymeacoffee.com/andersonkrs" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/default-orange.png" alt="Buy Me A Coffee" style="height: 51px !important;width: 217px !important;" ></a>