- page_title "FAQ"

.div
  .columns.is-centered
    = render partial: "shared/header"

  .columns.is-centered
    .column.is-half-desktop.mt-2
      h3.has-text-centered.subtitle = "FAQ"

      p.has-text-weight-bold = "Why am I not seeing my full history upfront just after subscribing?"
      p
        |
          It's because we can access only your current history on MAL, entries old than 21 days disappear from your MAL History.<br>
          But after subscribing, we'll keep saving your activities continuously, even if it disappears from MAL, will be stored on your profile here.
          Along the way, you'll have your full history on MAL Heatmap.

      p.has-text-weight-bold.mt-3 = "What frequency my history is updated?"
      p = "Daily"

      p.has-text-weight-bold.mt-3 = "How the activities are calculated?"
      p.mt-2
        |
          Let's suppose that you have the following history:
      p.mt-2.has-text-centered
        = image_pack_tag "media/images/example_history.png"
      p.mt-2
        |
          You started watching <em>Nihon Chinbotsu</em> 2020 at Aug 19, in this example, you'll have 5 activities at Aug 19 and 6 activities at Aug 20, 5 episodes of <em>Nihon Chinbotsu</em> and 1 episode of <em>FLCL Progressive</em>.
      p.mt-2.has-text-centered
        = image_pack_tag "media/images/example_timeline.png"
      p.mt-2
        |
          Be aware that we compute the first entry of the show as current position, for example, if you subscribe when you are in episode 63 of a show, it will be the number of activities in that day, after that, we'll compute the difference from the last position
      p.has-text-weight-bold.mt-3 = "How can I use the BB Code?"
      p.mt-3
        |
          Every time we update your history, a new image from your activities calendar will be generated.<br>
          You can copy the BB Code and put in your profile page or signature on <a href='https://myanimelist.net'>myanimelist.net</a>.
      p.mt-4.has-text-centered
        = image_pack_tag "media/images/example_profile.png"
      p.has-text-weight-bold.mt-3 = "Why my calendar image is not updating on MAL?"
      p.mt-2
        |
          MAL caches images for a period, so it can take even 2 days to the updated image appear on MAL.
      p.has-text-weight-bold.mt-3 = "What is the timezone used?"
      p.mt-2
        |
          All dates and timestamps are in UTC.
