- page_title t(".title")
- section_size :medium

.columns.is-centered.is-multiline
  = render partial: "shared/header"

  .column.is-full.has-text-centered.mt-3
    h3.subtitle = t(".error")

  .column.is-full.has-text-centered.mt-3
    = image_tag "images/not_found.gif"
