<% page_title t(".title") %>
<%  section_size :medium %>

<div class="columns is-centered is-multiline">
  <%= render partial: "shared/header" %>

  <div class="column is-full has-text-centered mt-3">
    <h3 class="subtitle"><%= t(".error") %>

    </h3></div>
  <div class="column is-full has-text-centered mt-3">
    <%= image_tag "not_found.gif" %>
  </div>
</div>
